*{
	text-rendering: optimizeLegibility;
    font-family: Montserrat,sans-serif!important;
}

body{ 
	background:  gray;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	background: url(../imagens/fundo-cinza1.png); 
	min-width: 1200px;
}

a{
	text-decoration: none;
}


/**************************************
Topo da pagina*/

#topo{
	width: 99.8%;
	height: 550px;
	margin: 0 auto;

}



#menu{
	text-align: center;
	text-transform: uppercase;
    height: 100px;
    margin: 0 auto;
	display: inline-block;
    padding: 30px 50px 0 0;
	position: relative;
	z-index: 10;
	font-size: 1rem;
	float: right;
}


#menu ul li a.matricula{
	background:  #CD0000;;
	margin: 5px;
	padding: 8px 20px;
    border-radius: 30px;
    font-weight: bold;
	font-size: 15px;
}

#menu ul li a.matricula:hover{
    background: #FF0000;
    transition-property:all;
    transition-duration: .2s; 
    transition-timing-function: ease;
	transition-delay: 0.1s;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}


#menu ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	padding: 1px 10px;
	border-radius: 30px;
}

#menu ul li a.link:hover{
	color: #EEEE00;
}

#menu ul li{
	display: inline-block;
	padding: 5px 15px;
	color: #fff;

}

#container1{
	width: 87%;
	float: left;
	position: relative;
	height: 60%;
    margin: 0 0 0 80px;
	z-index: 99;
}

#container-esquerdo{
	display: block;
	width: 600px;
	height: 250px;
	float: left;
	margin: 40px 0;
}

#academia1{
	color: #fff;
	font-size: 40.5px;
	text-transform: uppercase;
	display: block;
}

#titulo-cidade{
	color: #fff;
	background: #EEEE00;
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0;
	padding: 2px 10px;
	display: inline-block;	
}


.buttom ul li a.matricula{
	background:  #CD0000;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	margin: 10px 0 0 -20px;
	padding: 8px 20px;
    border-radius: 30px;
    font-weight: bold;
	font-size: 15px;
}

.buttom ul li a.matricula:hover{
    background: #FF0000;
    transition-property:all;
	padding: 9px 22px;
    transition-duration: .2s; 
    transition-timing-function: ease;
	transition-delay: 0.1s;
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

#container-direito{
	display: block;
	float: right;
    height: 60%;
    margin: 65px 0;
}

.caixas1{
	margin: 0;
	padding: 0;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin-top: -40px;
	background:  #EEEE00;
}

.caixas1:hover{
	background: #FFFF00;
	transition-duration: .2s;
}

.caixas2{
	margin: 0;
	padding: 0;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin-top: -40px;
	background: #CD0000;
}

.caixas2:hover{
	background: #FF0000;
    transition-duration: .2s;
}

.pacote-buttom{
	width: 180px;
	height: 180px;
	display: inline-block;
	margin: 5px 0 5px 20px;
	float: right;
}

.pacote-texto{
	text-align: center;
	text-transform: uppercase;
    margin: 50px 10px 0 30px;
	font-size: 18px;
    font-style: italic;
    font-weight: 200;
	float: left;
	color: #fff;
}

p.cifrao{ 
	margin: 40px 0 0;
	padding: 0 120px 0 0;
    font-size: 12px;
    text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	color: #fff;
}

p.valor{
	text-align: center;
    color: #fff;
    font-size: 35px;
    margin: 0;
    margin-top: -15px;
    padding: 0;
    font-weight: 800;
    text-transform: uppercase;
}

p.mensal{
	text-align: center;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    margin: 0;
    font-style: italic;
    font-weight: 700;
}






/*****************************************
Imagens topo*/

#imagem-topo{
	height: 17%;
	margin: 20px;
	float: left;
	position: absolute;
	z-index: 9;
}

#imagem-fundo-topo{
	clear: both;
	position: absolute;
	z-index: 0;
	width: 99.8%;
	height: 550px;
	filter: brightness(50%);
}









/****************************************
Configuracoes container 2/conteudo */


#caixa-fundo1{
	border: 1px solid red;
	background: #fff;
	height: 900px;
	position: relative;
}

#conteudo1{
	border: 1px solid red;
	width: 1100px;
	height: 900px;
	z-index: 11;
	background: #fff;
	box-shadow: 0px 4px 5px 0px gray;
	position: relative;
	margin: 0 auto;
	margin-top: -80px;
}